{% load staticfiles %}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>PlanComidas | {{current_site}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />



        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->

        <link href="/static/theme/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/theme/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/theme/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/theme/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/theme/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/theme/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
        <!-- THEME FILES -->
        <link href="/static/webapp/{{current_site.name}}/css/menu.css" rel="stylesheet" type="text/css" />
        <!-- END THEME FILES-->
        {% block extras %}{% endblock %}

    <!-- END HEAD -->
<body class="page-container-bg-solid" ng-app='mainApp'>


        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->

            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container">

                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu" ng-controller="menuController">
                        <ul class="nav navbar-nav">
                            
                            <li class="menu-dropdown classic-menu-dropdown active" ng-repeat="m in menu">
                                <a href="|| m.link ||"> || m.menu_name ||
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left" >
                                    <li ng-repeat='subm in m.submenu'>
                                        <a href="|| subm.link ||" class="nav-link  active">
                                            <i class="glyphicon glyphicon-list-alt"></i> || subm.menu_name ||
                                        </a>
                                    </li>                                    
                                </ul>  
                            </li>

                        </ul>
                    </div>
                    <!-- END MEGA MENU -->
                </div>
            </div>
            <!-- END HEADER MENU -->

                    <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1 id="comida"> {{timepo_select}}</h1>
                </div>
                <!-- END PAGE TITLE -->

            </div>
        </div>
        <!-- END PAGE HEAD-->
        </div>
        <!-- END HEADER -->

{% block content %}
{% endblock %}



        <!-- BEGIN FOOTER -->

        <!-- BEGIN INNER FOOTER -->
        <div class="page-footer">
            <div class="container"> 2016 &copy; PlanComidas.
                <a href="/" title="" target="_blank"></a>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->




        <!--[if lt IE 9]>
<script src="/static/theme/global/plugins/respond.min.js"></script>
<script src="/static/theme/global/plugins/excanvas.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/theme/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/theme/global/plugins/moment.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
        <script src="/static/theme/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/theme/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/theme/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/theme/layouts/layout3/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/theme/layouts/layout3/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/theme/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>


<script type="text/javascript">



  var myapp = angular.module('mainApp',[]);
  var customInterpolationApp = angular.module('customInterpolationApp', []);

  myapp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('||');
      $interpolateProvider.endSymbol('||');
    });



myapp.filter('rawHtml', ['$sce', function($sce){
  return function(val) {
    return $sce.trustAsHtml(val);
  };
}]);


  </script>


{% block extrajs %}
{% endblock %}


</body>

</html>