{% extends 'webapp/base.html'%}

{% block content %}
<style type="text/css">
    .comidas_idas img{
        display: none;
    }
    .right{
        text-align: right;
        margin: 0px -10px 2vmin 0px;
    }
    .alimento{
        height:200px;
        min-height: auto;
        margin: 0px 2vmin;
        border-top-right-radius: 5vmin !important;
        border-bottom-left-radius: 5vmin !important;
        border:0px solid !important;
    }
</style>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->

        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">

                    <li>
                        <span>Selecciona un alimento de cada grupo de macronutrientes</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="row" >
                        <div class="col-md-8">
                            <!-- BEGIN VALIDATION STATES-->
                            <div class="portlet light portlet-fit portlet-form ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <h5 class="uppercase font-hg font-red-flamingo">{{comidas_select}}</h5>
                                        <span class="caption-subject font-green sbold uppercase"></span>
                                    </div>
                                    <div class="actions">
                                        <span  class="btn btn-circle btn-icon-only btn-default">
                                            <i class="fa fa-cutlery"></i>
                                        </span>
                                        <span  class="btn btn-circle btn-icon-only btn-default">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </span>

                                    </div>
                                </div>
                                <div class="portlet-body comidas_idas">

                                    {% include t %}




                                </div>
                            </div>
                            <!-- END VALIDATION STATES-->
                        </div>


                    </div>

                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

<!-- END CONTAINER -->

{% endblock %}


{% block extrajs %}

<script type="text/javascript">
    var gc = '{{gc}}';
</script>

<script src="/static/webapp/maincontroller.js"></script>


    <script type="text/javascript">



            $(document).ready(function(){



                $('.selector').click(function(){

                    patron = $(this).parents('.alimento');
                    $(patron).siblings('.alimento').hide('slow');


                });

            });

        </script>



{% endblock %}

