


            <ul>
                {% if vegetables.desayuno %}
                <li>
                <h4>{{macros.0.1}}</h4>
                <h5 class="uppercase font-hg font-red-flamingo">Seleccione uno de estos alimentos </h5>

                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                        <div class="right">
                                <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                    <i class="fa fa-heart"></i>
                                </span>
                        </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegetables.0.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegetables.0.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegetables.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegetables.0.key}}.jpg" width="100%"/>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegetables.1.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegetables.1.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegetables.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegetables.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>

                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegetables.2.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegetables.2.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegetables.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegetables.2.key}}.jpg" width="100%"/>
                            </div>

                        </div>           
                    </li>
                {% endif %}
                {% if fruits.desayuno %}
                <li>
                <h4>{{macros.1.1}}</h4>
                <h5 class="uppercase font-hg font-red-flamingo">Seleccione uno de estos alimentos </h5>

                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                            <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                                <i class="fa fa-heart"></i>
                                            </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{afruits.0.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{afruits.0.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{fruits.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{afruits.0.key}}.jpg" width="100%"/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{afruits.1.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{afruits.1.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{fruits.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{afruits.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{afruits.2.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{afruits.2.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{fruits.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{afruits.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>           
                    </li>

                {% endif %}
                {% if cereals.desayuno %}
                  <li>
                <h4>{{macros.2.1}}</h4>
                <h5 class="uppercase font-hg font-red-flamingo">Seleccione uno de estos alimentos </h5>

                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{acereals.0.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{acereals.0.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{cereals.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{acereals.0.key}}.jpg" width="100%"/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{acereals.1.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{acereals.1.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{cereals.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{acereals.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{acereals.2.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{acereals.2.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{cereals.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{acereals.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>           
                    </li>
                {% endif %}
                {% if vegfat.desayuno %}
                 <li>
                <h4>{{macros.3.1}}</h4>
                <h5 class="uppercase font-hg font-red-flamingo">Seleccione uno de estos alimentos </h5>
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegfat.0.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegfat.0.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegfat.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegfat.0.key}}.jpg" width="100%"/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegfat.1.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegfat.1.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegfat.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegfat.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{avegfat.2.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{avegfat.2.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{vegfat.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{avegfat.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>           
                    </li>
                {%endif%}
                {%if proteins.desayuno%}
                 <li>
                <h4>{{macros.4.1}}</h4>
                <h5 class="uppercase font-hg font-red-flamingo">Seleccione uno de estos alimentos </h5>
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{aproteins.0.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{aproteins.0.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{proteins.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{aproteins.0.key}}.jpg" width="100%"/>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{aproteins.1.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{aproteins.1.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{proteins.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{aproteins.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6 alimento al-box note note-success">
                            <div class="right">
                                    <span  class="btn btn-circle btn-icon-only btn-warning selector">
                                        <i class="fa fa-heart"></i>
                                    </span>
                            </div>
                            <div class="font-grey-mint font-md bold font-red-flamingo">
                                {{aproteins.2.alimento}}
                            </div> 
                            <div class="font-grey-mint font-sm">
                                <p>Porción individual:{{aproteins.2.porcion}}</p>
                                <p class="font-grey-mint bold">Deberá consumir {{proteins.desayuno}} porcion(es)</p>
                            </div>
     
                            <div>
                                <img src="/static/vegetables/{{aproteins.1.key}}.jpg" width="100%"/>
                            </div>

                        </div>           
                    </li>
                {%endif%}


            </ul>


